.iconNav
{
  color: rgba(0, 85, 85, 0.87);
}
.iconNav1
{
  color: rgba(0, 85, 85, 0.486);
}
.iconNav1:hover
{
  color: rgb(0, 67, 75);
}
.iconNav:hover
{
  color: rgba(0, 85, 85, 0.486);
}
.cart
{
  position: fixed;
  bottom: 6%;
  right: 4%;
  transform: rotate(0deg);
  transition:1s;
  background-color: whitesmoke;
  border-radius: 50%;
  font-size: x-large;
  color: #000!important;
}
.cart:hover 
  {
    transform: rotate(360deg);
    transition: 1s ,1s;
    background-color: white;
    color: teal!important;
  }
@font-face 
{
    font-family:'firstFont';
    src: url('./../../ArbFONTS-IBMPlexSansArabic-ExtraLight.ttf') format("truetype");
}
.font1
{
    font-family: 'firstFont';
}
@font-face 
{
    font-family:'secFont';
    src: url('./../../ArbFONTS-IBMPlexSansArabic-Light.ttf') format("truetype");
}
.font2
{
    font-family: 'secFont';
}
@font-face 
{
    font-family:'thirdFont';
    src: url('./../../ArbFONTS-IBMPlexSansArabic-Regular.ttf') format("truetype");
}
.font3
{
    font-family: 'thirdFont';
}
@font-face 
{
    font-family:'fourthtFont';
    src: url('./../../IBMPlexSansArabic-Bold.ttf') format("truetype");
}
.font4
{
    font-family: 'fourthtFont';
}
.bg_nav
{
    height: 90px !important;
}
.l
{
    font-family: 'font1';
    font-weight: 500 !important;
    font-size: 23px !important;
}
.l:hover
{
    color: teal !important;

}
.Red
{
    color: #000000 !important;
    font-size: xx-large;
}
.Red:hover
{
    color: #64101095 !important;
}
.size
{
    width: 60px;
    height: 59px;
}

.home
{
    background-image: url('../image/bg-home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 88vh;;
}
.darkHome
{
    background-color: rgba(0, 0, 0, 0.663);
    height: 88vh;;
    width: 100%;
}
.imgMobile
{
    width: 300px;
    height: 550px;
    transform: rotate(0deg);
    margin-left: 10rem;
}
.imgMobile1,
.imgMobile2 {
  width: 280px;
  height: 550px;
  transform-origin: center center;
  transition: transform 0.8s ease; 
}

.imgMobile1 {
  /* margin-left: 10rem;
  margin-top: 7rem;
  transform: rotate(90deg); */
}

.imgMobile2 {
  margin-right: 20rem;
  transform: rotate(30deg);
}
.pic2
{
    width: 200px;
    height: 450px;
}
.font_style
{
    font-family:'secFont';
    font-weight: bolder;
    color: #fff;
}
.right
{
text-align: end;
font-family: 'firstFont';
font-weight: bolder;
padding-left: 100px;
padding-right: 100px;
}
.right1
{
text-align: end;
font-family: 'firstFont';
font-weight: bolder;
text-decoration: dotted!important;
}
.left
{
text-align: right;
font-family: 'firstFont';
font-weight: bolder;
padding-left: 100px;
padding-right: 100px;


}
.pic345
{
    width: 400px;
    height: 400px;
}
.card {
    width: 400px;
    height: 260px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #191919,
                 -5px -5px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
   }
   
   .card:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }
.fixedMessage 
{
    opacity: 0.6;
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 999;
    color: #ffffff;
    background-color: #000000;
    padding: 10px 15px 10px 15px;
    border: #000000 solid 0px;
    border-radius: 50%;
}
.fixedMessage:hover
{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: x-large;
    cursor: pointer;
}
/* .lightGreen
{
    background-color: #41635665;
    background-size: 100% 100%;
    height: 88vh;
} */
/* .zIndex
{
    position: absolute;
    z-index: 99 !important;
} */
/* .positonOfSVG
{
    height: 6rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border: 10px solid #ffffff;
    border-top-right-radius: 500%;
    box-shadow: 1px 1px 10px 10px rgb(0, 31, 18);
} */
.hh
{
    height: 600px !important;
}
.pic
{
    width: 250px;
    height: 230px;
}
/* .btn
{
    padding: 14px ;
    padding-right: 40px;
    padding-left: 40px;
    border : 0 ;
    border-radius: 100px;
    background-color: #1acaaa;
    color: white !important;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all , 0.5s;
    transition: all , 0.5s;
    position:absolute;
    bottom: 20%;
    left: 40%;
}
.btn:hover
{
    background-color: rgb(255, 255, 255);
    color: rgb(28, 207, 150)!important;
    box-shadow: 0px 0px 20px#1acaaa;
    transform: scale(1.1);
}
.btn:active
{
    background-color: rgb(250, 254, 254);
    -webkit-transition: all,0.25s;
    transition: all,0.25s;
    color:  #1acaaa;
    box-shadow: 0px 0px 40px#1acaaa;
    transform: scale(0.98);
} */
/*------------------------------------*/
.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: #1acaaa;
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px #3d7c57a8;
}

.btn:active {
 transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn:hover::after {
 background-color: #1acaaa;
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}

/* ------------- */

.Btnn1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .signn1 {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .signn1 svg {
    width: 20px;
  }
  
  .signn1 svg path {
    fill: rgb(0, 0, 0);
  }
  .signn1 svg path:hover 
  {
    fill: rgba(107, 1, 1, 0.485);
  }
  /* plus sign */
  .signn2 {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signn 
  {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signn2 svg {
    width: 20px;
  }
  
  .signn2 svg path {
    fill: rgb(23, 0, 232);
  }
  .signn2 svg path:hover 
  {
    fill: rgba(0, 55, 208, 0.653);
  }
  /* text */
  .text1 {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btnn1:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btnn1:hover .signn1 {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btnn1:hover .text1 {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btnn1:active {
    transform: translate(2px ,2px);
  }
/* =============================== */
  .container {
    width: 300px;
    height: 320px;
    background-color: #343541;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 7%;
    right: 2%;
  }
  
  .nav_bar {
    width: 100%;
    height: 40px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav_bar p {
      color: #6B6C7B;
      white-space: nowrap;
      margin-left: 10px;
      -webkit-user-select: none;
  }
  
  .close {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #6B6C7B!important;
  }
  
  .line {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #6B6C7B;
    border-radius: 30px;
  }
  
  .line.one {
    transform: rotate(45deg)
  }
  
  .line.two {
    transform: rotate(135deg)
  }
  
  .messages_area {
    background-color:  #00000000;
    width: 100%;
    height: 210px;
  }
  
  .sender_area {
    background-color: #343541;
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 8px;
  }
  
  .message {
    width: 100%;
    height: 40px;
  }
  
  .message.one,
  .message.three,
  .message.five {
    background-color: #2E2F3A;
  }
  
  .message.two,
  .message.four,
  .message.six {
    background-color: #343541;
  }
  
  .send_img {
    width: 30px;
  }
  
  .send_input {
    outline: none;
    display: flex;
    border: none;
    background: none;
    height: 40px;
    width: 230px;
    border-radius: 7px;
    background: none;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
  }
  
  .send_input::placeholder {
    color: #828E9E;
  }
  
  .input_place {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
    align-items: center;
    background-color: #40414F;
    border-radius: 7px;
    height: 40px;
    width: 280px;
    gap: 5px;
    border: 1px solid #2E2F3A;
  }
  
  .send {
    width: 30px;
    height: 30px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .send_icon {
    width: 17px;
  }

  .notification
  {
    position: fixed ;
    top: 15%;
    right: 15%;
    z-index: 99;
    width: 300px;
    height: 100px;
    background-color:rgb(0, 128, 128);
    border-radius: 10px;
    
  }

  .dropdown
  {
    position: fixed;
    top: 6rem;
    right: 4rem;
    z-index: 99;
    background-color: #c7d9db;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    padding: 1px;
  }
  .noti:hover
  {
   background-color: #ffffff6f;
   cursor: pointer;
  }
